<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889683629108-1sl142q7k1n12oiopqtvkr5og459m87h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889683629108-1sl142q7k1n12oiopqtvkr5og459m87h</string>
	<key>API_KEY</key>
	<string>AIzaSyD4aoiczUmlQlP6Zs8z6078ymh3SFE2VyM</string>
	<key>GCM_SENDER_ID</key>
	<string>889683629108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.able.Madori.dev</string>
	<key>PROJECT_ID</key>
	<string>test-able-app</string>
	<key>STORAGE_BUCKET</key>
	<string>test-able-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889683629108:ios:09783f750cdd722239a661</string>
	<key>DATABASE_URL</key>
	<string>https://test-able-app.firebaseio.com</string>
</dict>
</plist>